<header id="header_outer">
  <div class="container">
    <div class="header_section">
      <div class="logo"><a href="javascript:void(0)"><img src="../static/img/logob.png" alt=""></a></div>
      <nav class="nav" id="nav">
        <ul class="">
          <li><a href="/home/">Home</a></li>

          {% if session['logged_in'] %}
{#              <li><a href="/Storage/">Item Storage</a></li>#}
              <li><a href="/Repair2/">Repair Services</a></li>
              <li><a href="/collectionpg/">Collection Details</a></li>
              <li><a href="/Profile/">Profile</a></li>
              <li><a href="/Log_Out/">log Out</a></li>
          {% elif session['logged_in_technician'] %}
              <li><a href="/viewRequest/">View Repair Services</a></li>
              <li><a href="/Service_Profile/">Company</a></li>
              <li><a href="/Log_Out/">log Out</a></li>
          {% else  %}
              <li><a href="/storagefordelivery/">Item Storage</a></li>
              <li><a href="/Register2/">Register</a></li>
              <li><a href="/Register_Technician2/">Register(Technician)</a></li>
              <li><a href="/Log_In2/">log In</a></li>
          {% endif %}


        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
  </div>
</header>
