{% extends 'layout.html' %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="POST" actions="">
        <h1 style="text-align: center;padding:auto">
            Change Password
        </h1>
        <div class="form-group">
            <div>
                {{ render_field(form.oldpassword,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div>
                {{ render_field(form.newpassword,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div>
                {{ render_field(form.confirmpassword,class_='form-control') }}

            </div>
        </div>
 <div>
                <input type="submit" value="Change" class="btn btn-info"  />
            </div>
    </form>
{% endblock %}
