{% extends 'layout.html' %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="POST" actions="" enctype=multipart/form-data>
        <h1 style="text-align: center;padding:auto">
            Edit - Company
        </h1>

        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.name,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.phone_number,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.email_address,class_='form-control') }}

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.occupation,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.specialization) }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.companyname,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.postal,class_='form-control') }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <b>Company Picture (Optional):</b>
                <input type=file name=file>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                {{ render_field(form.profile_desc,class_='form-control') }}

            </div>
        </div>
        <div class="form-group col-md-4">
            <input type="submit" value="Submit" class="btn btn-info" href="/Log_In/"/>
        </div>
    </form>
{% endblock %}
