{% extends 'layout.html' %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <header>
        <h1 style="font-size:40px; text-align:center; "> Welcome To Our Website Yagufar! </h1>
    </header>
    <!-- Services -->
    <section id="services" style="margin:auto; text-align:center">
        <div class="container">
            <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
          </div>
        </div>
            <div class="row text-center">
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading"> Repair Services </h4>
                    <p class="text-muted">We have gather lot of technicians to help solve your problems.We have their
                        company number and which one is nearer to your location</p>
                    <p class="text-muted">We even have a rating system!We will provide the best service to you :)</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading"> Item Storage </h4>
                    <p class="text-muted">Do you often order things online ?I think most of us had face with a problem
                        that the things we ordered delivered on a time that we not free or unable to collect</p>
                    <p class="text-muted">Here we are to solve your problem.We will help you hold on to the item first
                        then then you can come collect anytime when you free </p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading"> User Account </h4>
                    <p class="text-muted">Scare of leaking your personal information ? DON'T WORRY !! </p>
                    <p class="text-muted">We will secure your personal and will not disclose it to other users </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img style="height: 350px; width: 350px"  class="mx-auto rounded-circle" src="/static/img/afiq.jpeg" alt="">
                        <h4>Afiq Ali</h4>
                        <p class="text-muted">Programmer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img style="height: 350px; width: 350px"  class="mx-auto rounded-circle" src="/static/img/evan.jpeg" alt="">
                        <h4>Evan Chua</h4>
                        <p class="text-muted">Programmer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member" >
                        <img style="height: 350px; width: 350px"  class="mx-auto rounded-circle" src="/static/img/justin2.jpeg" alt="">
                        <h4>Justin Tey</h4>
                        <p class="text-muted">Programmer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img style="height: 350px; width: 350px" class="mx-auto rounded-circle" src="/static/img/yk.jpeg" alt="">
                        <h4>Lau Yu Kang</h4>
                        <p class="text-muted">Programmer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    </body>

    </html>
{% endblock %}

