{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <form method = 'POST' action="">


        <div class="portfolioContainer">
            <h1 style="text-align: center">
                Register
            </h1>
            <div class="boxcontainer" style="padding-left: 200px">

            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-row">
                    {{ render_field(form.username, class_="form-control") }}

                    </div>
                    </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-row">
                    {{ render_field(form.name, class_="form-control") }}
                    </div>
                    </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-row">
                    {{ render_field(form.password, class_='form-control') }}
                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-row">
                    {{ render_field(form.email_address, class_='form-control') }}
                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-row">
                    {{ render_field(form.phone_number, class_='form-control') }}
                </div>

            </div>
                <div class="form-group">
                <div class="col-md-6">
                    <div class="form-row">
                    {{ render_field(form.address, class_='form-control') }}
                </div>
                </div>

            </div>

                 <div class="form-group col-md-4" >
                <input type="submit" value="Submit" class="btn btn-info" href="/Log_In/" />
            </div>
</form>
{% endblock %}
