{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <h1>View Technicians</h1>
    <br/>

    <table class="'table table-bordered">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Occupation</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for technician in technicians %}
            <tr>
                <td>{{ technician.get_companyname() }}</td>
                <td>{{ technician.get_occupation() }}</td>
                <td>{{ technician.get_phone_number() }}</td>
                <td>{{ technician.get_email_address() }}</td>
                <td>
                    <form action="/Repair">
                        <input type='submit' class="btn btn-success" value='Booking'>
                    </form>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}