{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}


  <h1 style="text-align: center;padding:auto">
                Item Storage
            </h1>
            <div class="form-group">
                <div class="col-md-6">
                    {{ render_field(form.recipientName, class_="form-control") }}
{#                    <p style="font-size:20px"> Order ID: </p>#}
{#                    <input class="form-control" id="orderid" type="text" placeholder="Your Order ID *" required data-validation-required-message="Please enter your Order ID.">#}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ render_field(form.lockerId,class_='form-control') }}
{#                    <p style="font-size:20px"> Address: </p>#}
{#                    <input class="form-control" id="address" type="text" placeholder="Your Address *" required data-validation-requierd-message="Please enter your address.">#}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ render_field(form.dateofdelivery,class_='form-control',placeholder="DD/MM/YYYY") }}
{#                    <p style="font-size:20px"> Email: </p>#}
{#                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">#}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    {{ render_field(form.phonenumber,class_='form-control',placeholder="(+65)") }}
{#                    <p style="font-size:20px"> What item did you order? </p>#}
{#                    <input class="form-control" id="item" placeholder="Item" required data-validation-required-message="Please enter your email address.">#}
                </div>
            </div>
            <div class="form-group col-md-4">
                <input type="submit" value="Submit" class="btn btn-info"/>
            </div>
        </div>


</form>
{% endblock %}
